$color_text_primary: #072635;
$color_text_secodary : #707070;
$color_bg : #F6F7F8;
$ActiveState_bg_2 : #D8FCF7;
$ActiveState_bg_1 : #01F0D0;
$Manrobe_extra_bold : 800;
$Color_White : #ffff;
$Color_light_purple :#F4F0FE;
$color_light_cyan : #E0F3FA;
$color_light_danger :#FFE6E9;
$color_light_danger_2 : #FFE6F1;
$color_purple_deep : #E66FD2;
$color_blueviolet_1: #8C6FE6;